h1 {
    text-align: center;
}
p {
    text-align: center;
}
form {
    text-align: center;
}
ul {
    text-align: center;
    list-style-type: "\2610 ";
    cursor: pointer;
}
.myShoppinglist {
    color: rgb(255, 255, 255);
    size: 200px;
    text-shadow: rgb(0, 0, 0) 2px 3px;
    font-family: 'Protest Riot', sans-serif;
}
.backimage {
    background-color: rgb(255, 255, 255);
    /*background-image: url(../images/image1.jpg);
    background-size: cover;*/
}
.dispErr {
    color: rgb(0, 0, 0);
}
.labeltext {
  font-family: 'Protest Riot', sans-serif;
}
@media print {
    /* All your print styles go here */
   #myForm, .addBtn, p {
    display: none;
   }
}